{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<center><h1>Привет, я автор данного проекта!</h1></center>
<style>
  .class_1 {
    padding: 20px;
    width: 60%;
  }
  .class_2 {
    float: right;
    margin-right: 150px;
    margin-top: 10px;
  }
</style>
<div class="class_2"> <img src= {%static 'img/me.jpg'%} width='270' height='390'/> </div>
<div class="class_1">
Меня зовут Владислав Лукьяненко. Еще в школьном возрасте мне нравились естественные науки. В частности, химия и биология.
Данный факт предопределил мою дальнейшую жизнь.Я закончил университет по специальности "химия". Поступил в аспирантуру.
И пошел работать в фармацевтическую компанию.Все на благо здоровья и жизни людей! В аспирантуре столкнулся с доклиническими исследованиями новых лекарственных веществ.
Современные науки развиваются огромными темпами благодаря компьютерным технологиям. Так же и в разработке лекарств: большую часть клинических исследований
начинают проводить с помощью элементов машинного обучения и искуственного интеллекта. Биоинформатика, Хемоинформатика,
Молекулярное моделирование являются трендами последнего десятилетия. Все эти тенденции очень заинтересовали меня. И вот, в 27 летнем возрасте,я начал изучать Python, так как это уникальный язык по своему количеству библиотек и модулей. И именно на нем производят современные клинические исследования.
Именно поэтому сейчас я в Яндекс Практикуме, познаю все тонкости использования языка.</p> 
<p> Мой аккаунт  GitHub <a href="https://github.com/Vlaldis95">Посмотреть</a> </p> </div>
{% endblock %} 